@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Gilroy", sans-serif;
  }
}

@font-face {
  font-family: "ITC Avant Garde Gothic Pro font";
  src: url("./public/fonts/avant/Laranjh0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
